<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <link href="~/Assets/css/Style.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Assets/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Assets/StyleSheet1.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper" >
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color:#1f8798;">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#" style="height:0.375rem">
                <div class="sidebar-brand-text mx-3" onclick="location.href='@Url.Action("Index","Home")'" style="background-color:#f6933efc">
                    DKT VINA
                    HRM<sup></sup>
                </div>
            </a>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" onclick="location.href='@Url.Action("IndexSearch", "Home")'" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Managing Work time  </span>
                </a>
               
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" onclick="location.href='@Url.Action("IndexEmp", "Home")'" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    <span> Management Salary </span>
                </a>
               
            </li>


            <!-- Divider -->
            <!-- Nav Item - Charts -->
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="height:2.375rem; margin-bottom:0.1rem!important">
                    <!-- Sidebar Toggle (Topbar) -->

                    <!-- Topbar Search -->
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                       
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Language</span>

                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" style="text-align:center" onclick="location.href='@Url.Action("Index","HomeVN")'">
                                    VietNam

                                </a>
                                <a class="dropdown-item" href="#" style="text-align:center" onclick="location.href='@Url.Action("Index","HomeKR")'">
                                    Korea

                                </a>
                            </div>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    Mật khẩu mặc định
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                &nbsp &nbsp &nbsp
                                &nbsp<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                @Html.ActionLink("Đặt lại", "Reset_Password", "Home")
                                <script type="text/javascript">

                                    function preventBack()
                                    {
                                        window.history.forward();
                                    }
                                    setTimeout("preventBack()", 0);
                                    window.onunload=function()
                                    {
                                        null;
                                    }
                                </script>
                            </div>

                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" style="color:cadetblue" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    @if (Session["Name"] != null)
                                    {
                                        @Session["Name"].ToString()
                                    }
                                    else
                                    {
                                        Response.Redirect("Index");
                                    }

                                </span>

                            </a>
                            <!-- Dropdown - User Information -->

                        </li>
                        <!-- Nav Item - User Information -->
                       
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    
                                        @if (Session["USER_CODE"] != null)
                                        {
                                            @Session["USER_CODE"].ToString()
                                        }
                                        else
                                        {
                                            Response.Redirect("Index");
                                        }
                                   
                                </span>

                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                &nbsp &nbsp &nbsp
                                &nbsp<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                @Html.ActionLink("Logout", "Index", "UserLogin")
                                <script type="text/javascript">

                                    function preventBack()
                                    {
                                        window.history.forward();
                                    }
                                    setTimeout("preventBack()", 0);
                                    window.onunload=function()
                                    {
                                        null;
                                    }
                                </script>

                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        @RenderBody()
                    </div>
                </div>

                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
   
  
    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Assets/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <!--script src="~/Assets/Admin/vendor/chart.js/Chart.min.js"></!--script>
    <!-- Page level custom scripts -->
    <script src="~/Assets/js/demo/chart-area-demo.js"></script>
    <script src="~/Assets/demo/chart-pie-demo.js"></script>


    <!-- Page level plugins -->
    <script src="~/Assets/vendor/datatables/jquery.dataTables.min.js"></script>

    <script src="~/Assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/Assets/js/demo/datatables-demo.js"></script>
</body>
</html>
